.recommendations {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  overflow-y: scroll;
  padding: 10px;
}
.book-recommendation {
  border: 1px solid white;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2px;
  background-color: var(--color1);
}
.book-recommendation img {
  width: auto;
  height: 180px;
  margin: 6px;
}
.book-rec-inside {
  display: flex;
  justify-content: space-around;
}
.book-name-rec {
  font-size: 1.3em;
  font-family: var(--title-font);
  font-weight: bold;
  padding: 5px 0 2px 0;
}
.book-rec-inside {
  padding: 0 0 3px 0;
}