.header {
  background-color: var(--color3);
  display: flex;
  justify-content: center;
  background-image: url('/stock/binding-dark.png');
  height: 500px;
  padding: 30px 15px;
  box-shadow: 0 0 4px black;
  z-index: 100;
}
.book-image {
  position: absolute;
  cursor: pointer;
  transition: .1s ease-in-out all;
}
.book-image img{
  height: 550px;
  width: 380px;
  border-radius: 5px;
  box-shadow: 0 0 10px 1px black;
}
.bookmark {
  position: absolute;
  right: 0;
  text-shadow: 0 0 3px darkgoldenrod;
  padding: 5px 0;
  opacity: 0.4;
  
  writing-mode: vertical-lr;
  font-family: var(--title-font);
  font-size: 1.2em;
  font-weight: bold;
  transition: .1s ease-in-out all;
}
.read {
  background-color: var(--color1);
  position: absolute;
  text-align: center;
  font-size: 2em;
  padding: 5px;
  border: 1px solid rgba(255, 255, 255, 0.092);
  border-width: 1px 0 1px 0;
  box-shadow: 0 0 3px black;
  opacity: 0;
  bottom: 45%;
  right: 0;
  left: 0;
}
.book-image:hover {
  opacity: 0.85;
}
.book-image:active {
  opacity: 1;
}
.book-image:active .bookmark{
  color: var(--color3);
}
.book-image:hover .read {
  opacity: 0.7;
}