.metadata {
  margin: 100px auto 40px auto;
  border-radius: 3px;
  padding: 0 15px;
  text-align: center;
  max-width: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.metadata-down {
  display: flex;
  gap: 5px;
}
.metadata-down div {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  box-shadow: 0 0 5px black;
  border: 1px solid var(--color6);
  background-color: var(--color1);
  border-radius: 4px;
}
.book-title {
  font-family: var(--title-font);
  font-size: 5em;
  font-weight: bold;
  text-shadow: 0 0 20px var(--color1);
  margin: 0;
}
.book-author {
  font-size: 1.3em;
  padding: 0 0 20px 0;
  text-shadow: 0 0 4px var(--color1);
}
.rating {
  display: flex;
  justify-content: space-evenly;
  border: 1px solid var(--color6);
  border-radius: 4px;
  padding: 20px;
  box-shadow: 0 0 5px black;
  background-color: var(--color1);
}
.rating img {
  height: 40px;
}
.views, .bookmarks{
  font-size: 1.4em;
}
.views img, .bookmarks img{
  height: 40px;
}
.rating:hover, .views:hover, .bookmarks:hover{
  transition: .1s ease-in-out all;
  scale: 1.01;
  background-color: rgb(35, 5, 5);
}
.book-title:hover {
  transition: ease-in-out all 0.3s;
  text-shadow: 0 0 13px black;
}